@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    min-width: 320px;

}

header {
    font-size: 1.5em;
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    padding: 50px;

}

section {
    padding: 30px;

}

section > p {
    font-size: 1.5em;
    font-family: "Mate SC", serif;

}

section > h2{
    font-size: 2em;
}



#img {
    background-image: url(imagens/ai-generated-8670318_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

#img > h2{
    font-family: "Mate SC", serif;
    font-size: 2em;
    line-height: 2em;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.664);
    background-color: rgba(0, 0, 0, 0.705);
    padding: 50px;
    margin-left: 50px;
}
#img > p {
    font-size: 1.5em;
    line-height: 2em;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.664);
    background-color: rgba(0, 0, 0, 0.705);
    padding: 50px;
    margin-left: 50px;
}

.normal{
    line-height: 3em;
     padding: 50px;
    margin-left: 50px;
}

ul {
    background-image: url(imagens/man-8679498_1280.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.568);
    line-height: 2em;
    font-family: "Mate SC", serif;
    list-style: inside;
}

ul > li{
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.267);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    width: 93%;
    line-height: 2em;
    padding: 20px;
    margin-left: 50px;
}

ul > h3{
    font-size: 2em;
    padding: 50px;
    margin-left: 50px;
    font-size: 2em;
    line-height: 2em;
}