@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: 100vw;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    padding: 50px;

}

section {
    padding: 30px;

}

section>p {
    font-size: 1.5em;
    font-family: "Mate SC", serif;
    
}



#img{
    background-image: url(imagens/ai-generated-8670318_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;     
    
}
#img > p {
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.664);
    background-color: rgba(0, 0, 0, 0.705);
    line-height: 2em;
}

ul{
    background-image: url(imagens/man-8679498_1280.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.568);
    line-height: 2em;
    font-family: "Mate SC", serif;;
}

ul > p{
    background-image: url(imagens/ai-generated-8464511_1280.jpg);
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
    line-height: 2em;
}
